Repository vla5924-practice/compiler-project, pull requests merged in 2024-04, with the labels that each got.

#110 Introduce operations tree as a new `optree` module
  .clang-tidy
  compiler/include/compiler/optree/adaptors.hpp
  compiler/include/compiler/optree/attribute.hpp
  compiler/include/compiler/optree/base_adaptor.hpp
  compiler/include/compiler/optree/builder.hpp
  compiler/include/compiler/optree/definitions.hpp
  compiler/include/compiler/optree/operation.hpp
  compiler/include/compiler/optree/program.hpp
  compiler/include/compiler/optree/types.hpp
  compiler/include/compiler/optree/value.hpp
  compiler/include/compiler/utils/helpers.hpp
  compiler/lib/CMakeLists.txt
  compiler/lib/optree/CMakeLists.txt
  compiler/lib/optree/adaptors.cpp
  compiler/lib/optree/attribute.cpp
  compiler/lib/optree/builder.cpp
  compiler/lib/optree/operation.cpp
  compiler/lib/optree/types.cpp
  compiler/lib/optree/value.cpp
Labels: interface:optree, interface

#105 Add benchmarking toolkit for lexer and parser
  .gitignore
  benchmarks/generate_files.py
  benchmarks/generators/code_constructions.py
  benchmarks/generators/code_generator.py
  benchmarks/generators/lexems.py
  benchmarks/generators/lexer_generator.py
  benchmarks/runner.py
Labels: tests, tests:benchmark

#103 Add syntax tree (AST) to operations tree (optree) converter in frontend
  compiler/include/compiler/frontend/converter/converter.hpp
  compiler/include/compiler/frontend/converter/converter_context.hpp
  compiler/include/compiler/frontend/converter/converter_error.hpp
  compiler/include/compiler/optree/helpers.hpp
  compiler/include/compiler/utils/helpers.hpp
  compiler/lib/frontend/CMakeLists.txt
  compiler/lib/frontend/converter/converter.cpp
  compiler/lib/optree/helpers.cpp
Labels: frontend, frontend:converter

#117 Add `optimizer` with a transformation driver to optree backend
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/include/compiler/backend/optree/optimizer/optimizer.hpp
  compiler/include/compiler/backend/optree/optimizer/transform.hpp
  compiler/include/compiler/backend/optree/optimizer/transform_factories.hpp
  compiler/include/compiler/optree/builder.hpp
  compiler/include/compiler/optree/types.hpp
  compiler/lib/backend/CMakeLists.txt
  compiler/lib/backend/optree/CMakeLists.txt
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
  compiler/lib/backend/optree/optimizer/optimizer.cpp
  compiler/lib/backend/optree/optimizer/transforms/erase_unused_ops.cpp
  compiler/lib/optree/builder.cpp
  compiler/lib/optree/operation.cpp
Labels: backend, backend:optree, backend:optree:optimizer

#118 Include all necessary implementation files in LCOV report
  compiler/CMakeLists.txt
  compiler/tests/CMakeLists.txt
Labels: ci

#123 Add implicit cast from Adaptor to an underlying Operation::Ptr
  compiler/include/compiler/optree/base_adaptor.hpp
  compiler/include/compiler/optree/program.hpp
  compiler/lib/frontend/converter/converter.cpp
Labels: interface:optree, interface

#121 Implement operand management and cloning methods for operations
  compiler/include/compiler/optree/adaptors.hpp
  compiler/include/compiler/optree/attribute.hpp
  compiler/include/compiler/optree/operation.hpp
  compiler/include/compiler/optree/value.hpp
  compiler/lib/optree/operation.cpp
  compiler/lib/optree/value.cpp
Labels: interface:optree, interface

#119 Implement operation cloning and replacement methods for `OptBuilder`
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/include/compiler/utils/helpers.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
  compiler/lib/backend/optree/optimizer/optimizer.cpp
Labels: backend, backend:optree, backend:optree:optimizer
