Repository vla5924-practice/compiler-project, pull requests merged in 2024-05, with the labels that each got.

#130 Add test for unused ops erasure transformation in optimizer
  .github/workflows/ci.yml
  compiler/include/compiler/backend/optree/optimizer/optimizer.hpp
  compiler/lib/backend/optree/optimizer/optimizer.cpp
  compiler/tests/CMakeLists.txt
  compiler/tests/backend/CMakeLists.txt
  compiler/tests/backend/optree/CMakeLists.txt
  compiler/tests/backend/optree/main.cpp
  compiler/tests/backend/optree/optimizer/common.hpp
  compiler/tests/backend/optree/optimizer/erase_unused_ops.cpp
  compiler/tests/backend/optree/optimizer/optimizer.cpp
Labels: backend, backend:optree, backend:optree:optimizer, tests, tests:unit

#127 Support `list` syntax in lexer and parser
  compiler/include/compiler/ast/node_type.hpp
  compiler/include/compiler/ast/types.hpp
  compiler/include/compiler/frontend/lexer/token_types.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/frontend/lexer/lexer.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/lib/frontend/parser/type_registry.cpp
  compiler/tests/frontend/lexer.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:lexer, frontend:parser

#139 Support parsing of unary operations (`-`, `not`)
  compiler/include/compiler/ast/node_type.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:parser, tests, tests:unit

#142 Add missing Keyword::List in a Token::dump enumeration
  compiler/lib/frontend/lexer/token.cpp
Labels: frontend, frontend:lexer

#143 Comply InputOp and PrintOp with an SSA paradigm
  compiler/include/compiler/optree/adaptors.hpp
  compiler/lib/frontend/converter/converter.cpp
  compiler/lib/optree/adaptors.cpp
  compiler/tests/backend/optree/optimizer/erase_unused_ops.cpp
Labels: frontend, frontend:converter, interface:optree, interface

#138 Add codegen backend for optree to LLVM IR conversion
  .github/workflows/ci.yml
  compiler/CMakeLists.txt
  compiler/include/compiler/codegen/optree_to_llvmir/llvmir_generator.hpp
  compiler/lib/codegen/optree_to_llvmir/CMakeLists.txt
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/tests/codegen/CMakeLists.txt
  compiler/tests/codegen/optree_to_llvmir/CMakeLists.txt
  compiler/tests/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/tests/codegen/optree_to_llvmir/main.cpp
Labels: codegen, codegen:optree_to_llvmir

#144 Support for-loop syntax in lexer and parser
  compiler/include/compiler/ast/node_type.hpp
  compiler/include/compiler/frontend/lexer/token_types.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/frontend/lexer/lexer.cpp
  compiler/lib/frontend/lexer/token.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/frontend/lexer.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:lexer, frontend:parser

#156 Add Windows MSVC build to CI
  .github/workflows/ci.yml
  compiler/include/compiler/utils/helpers.hpp
Labels: ci

#154 Unify reserved identifiers in a header
  compiler/include/compiler/utils/language.hpp
  compiler/lib/backend/ast/optimizer/optimizer.cpp
  compiler/lib/backend/ast/semantizer/semantizer.cpp
  compiler/lib/codegen/ast_to_llvmir/ir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
Labels: utils

#155 Solidify native types and add type deduction for attributes
  compiler/include/compiler/optree/adaptors.hpp
  compiler/include/compiler/optree/attribute.hpp
  compiler/include/compiler/optree/declarative.hpp
  compiler/include/compiler/optree/types.hpp
  compiler/include/compiler/utils/helpers.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
  compiler/lib/optree/adaptors.cpp
  compiler/lib/optree/attribute.cpp
  compiler/tests/backend/optree/optimizer/erase_unused_ops.cpp
  compiler/tests/optree/declarative.cpp
Labels: interface:optree, interface

#161 Add declarative AST builder for tests
  compiler/include/compiler/ast/declarative.hpp
  compiler/tests/ast/declarative.cpp
Labels: interface:optree, interface, tests, tests:unit

#128 Add constant folding transformation to the optimizer
  compiler/include/compiler/backend/optree/optimizer/transform_factories.hpp
  compiler/include/compiler/optree/helpers.hpp
  compiler/lib/backend/optree/optimizer/transforms/fold_constants.cpp
  compiler/tests/backend/optree/optimizer/fold_constants.cpp
Labels: backend, backend:optree, backend:optree:optimizer

#146 Implement optree transformation: Erase unused functions
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/include/compiler/backend/optree/optimizer/transform_factories.hpp
  compiler/include/compiler/optree/adaptors.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
  compiler/lib/backend/optree/optimizer/transforms/erase_unused_functions.cpp
  compiler/lib/optree/operation.cpp
  compiler/tests/backend/optree/optimizer/erase_unused_functions.cpp
Labels: backend, backend:optree, backend:optree:optimizer
