Repository vla5924-practice/compiler-project, pull requests merged in 2024-10, with the labels that each got.

#183 Ensure that `ret` terminates basic block in optree to LLVM IR codegen
  compiler/include/compiler/codegen/optree_to_llvmir/llvmir_generator.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
Labels: codegen, codegen:optree_to_llvmir

#173 Add keyword continue, break, pass in lexer, parser
  compiler/include/compiler/ast/node_type.hpp
  compiler/include/compiler/frontend/lexer/token_types.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/frontend/lexer/lexer.cpp
  compiler/lib/frontend/lexer/token.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/frontend/lexer.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:lexer, frontend:parser

#184 Add debug printing to optree optimizer
  compiler/CMakeLists.txt
  compiler/include/compiler/backend/optree/optimizer/transform.hpp
  compiler/include/compiler/utils/debug.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
  compiler/lib/backend/optree/optimizer/optimizer.cpp
  compiler/lib/backend/optree/optimizer/transforms/erase_unused_functions.cpp
  compiler/lib/backend/optree/optimizer/transforms/erase_unused_ops.cpp
  compiler/lib/backend/optree/optimizer/transforms/fold_constants.cpp
Labels: backend, backend:optree, backend:optree:optimizer, utils

#186 Append values to error message via operator<<
  .github/workflows/ci.yml
  compiler/include/compiler/utils/base_error.hpp
  compiler/include/compiler/utils/error_buffer.hpp
  compiler/lib/utils/base_error.cpp
  compiler/tests/CMakeLists.txt
  compiler/tests/utils/CMakeLists.txt
  compiler/tests/utils/base_error.cpp
  compiler/tests/utils/main.cpp
Labels: tests, tests:unit, utils

#187 Allow Type objects to be dumped via BaseError operator<<
  compiler/include/compiler/optree/types.hpp
  compiler/include/compiler/utils/base_error.hpp
  compiler/lib/optree/types.cpp
Labels: interface:optree, interface, utils

#188 Consider adaptor classes inheritance relations within RTTI
  compiler/include/compiler/optree/base_adaptor.hpp
  compiler/include/compiler/optree/operation.hpp
  compiler/tests/optree/base_adaptor.cpp
Labels: interface:optree, interface, tests, tests:unit

#189 Find operation parent correctly and add children accessor by index
  compiler/include/compiler/optree/declarative.hpp
  compiler/include/compiler/optree/operation.hpp
  compiler/include/compiler/optree/value.hpp
  compiler/lib/optree/declarative.cpp
  compiler/lib/optree/operation.cpp
  compiler/tests/optree/operation.cpp
Labels: interface:optree, interface, tests, tests:unit

#124 Introduce semantizer module for optree verification
  compiler/include/compiler/backend/optree/semantizer/semantizer.hpp
  compiler/include/compiler/backend/optree/semantizer/semantizer_context.hpp
  compiler/include/compiler/backend/optree/semantizer/semantizer_error.hpp
  compiler/include/compiler/backend/optree/semantizer/traits.hpp
  compiler/lib/backend/optree/semantizer/semantizer.cpp
  compiler/lib/backend/optree/semantizer/traits.cpp
  compiler/tests/backend/optree/semantizer/common.hpp
  compiler/tests/backend/optree/semantizer/semantizer.cpp
  compiler/tests/backend/optree/semantizer/traits.cpp
Labels: backend, backend:optree, backend:optree:semantizer
