Repository vla5924-practice/compiler-project, pull requests merged in 2025-03, with the labels that each got.

#193 Add scientific notation support
  compiler/lib/frontend/lexer/lexer.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/frontend/lexer.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:lexer, frontend:parser

#199 Add `numElements` property to PointerType
  compiler/include/compiler/optree/types.hpp
  compiler/lib/optree/types.cpp
Labels: interface:optree, interface

#200 Add optional `offset` operand to LoadOp and StoreOp
  compiler/include/compiler/optree/adaptors.hpp
  compiler/lib/optree/adaptors.cpp
Labels: interface:optree, interface

#201 Re-organize platform-dependent implementations
  .clang-tidy
  compiler/include/compiler/utils/debug.hpp
  compiler/include/compiler/utils/helpers.hpp
  compiler/include/compiler/utils/platform.hpp
  compiler/lib/backend/optree/optimizer/transforms/fold_constants.cpp
  compiler/lib/backend/optree/semantizer/semantizer.cpp
  compiler/lib/cli/compiler.cpp
  compiler/lib/cli/helpers.cpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
Labels: utils

#202 Enable platform-independent code generation by clang and llc
  compiler/lib/cli/compiler.cpp
Labels: cli

#203 Support list statements in converter
  compiler/lib/frontend/converter/converter.cpp
Labels: frontend, frontend:converter

#196 Utilize llvm.getelementptr to express list accessor
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
Labels: codegen, codegen:optree_to_llvmir

#204 Invoke callback functions safely in `OptBuilder::Notifier`
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
Labels: backend, backend:optree, backend:optree:optimizer

#205 Join build and test stages in CI
  .github/workflows/ci.yml
Labels: ci

#198 Add end-to-end testing for CLI
  compiler/tests/CMakeLists.txt
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/hello_world/output.txt
  compiler/tests/cli/hello_world/program.py
  compiler/tests/cli/run_test.py
Labels: tests, tests:cli

#206 Include codegen in test coverage report
  .github/workflows/ci.yml
Labels: ci

#192 Support for-loops in converter
  compiler/include/compiler/frontend/converter/converter_context.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/for_loop/output.txt
  compiler/tests/cli/for_loop/program.py
Labels: frontend, frontend:converter, tests, tests:cli

#209 Add `dynamicSizes` operand for AllocateOp
  compiler/include/compiler/optree/adaptors.hpp
  compiler/include/compiler/optree/types.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/optree/adaptors.cpp
Labels: interface:optree, interface, codegen, codegen:optree_to_llvmir

#210 Parse dynamic list size into `ListDynamicSize` node
  compiler/include/compiler/ast/node_type.hpp
  compiler/include/compiler/frontend/parser/parser_context.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/frontend/parser/parser.cpp
Labels: interface:ast, frontend, frontend:parser, interface

#211 Resolve clang-tidy issues in lexer
  compiler/lib/frontend/lexer/lexer.cpp
Labels: frontend, frontend:lexer

#213 Replace escape sequences in string literal
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/print/output.txt
  compiler/tests/cli/print/program.py
Labels: frontend, frontend:parser

#216 Define `ArithUnaryOp` adaptor for unary operations
  compiler/include/compiler/optree/adaptors.hpp
  compiler/include/compiler/optree/attribute.hpp
  compiler/include/compiler/optree/definitions.hpp
  compiler/lib/optree/adaptors.cpp
Labels: interface:optree, interface

#218 Add end-to-end test with input text
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/input/input.txt
  compiler/tests/cli/input/output.txt
  compiler/tests/cli/input/program.py
  compiler/tests/cli/run_test.py
Labels: tests, tests:cli

#215 Support unary operations in converter and codegen
  compiler/include/compiler/codegen/optree_to_llvmir/llvmir_generator.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
Labels: frontend, frontend:converter, codegen, codegen:optree_to_llvmir

#221 Add stub implementation for break, continue, pass in converter
  compiler/lib/frontend/converter/converter.cpp
Labels: frontend, frontend:converter

#222 Support list as function argument in parser
  compiler/include/compiler/frontend/parser/type_registry.hpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/lib/frontend/parser/type_registry.cpp
  compiler/tests/frontend/parser.cpp
Labels: frontend, frontend:parser

#220 Support list as function argument in converter and codegen
  compiler/include/compiler/frontend/converter/converter_context.hpp
  compiler/lib/codegen/optree_to_llvmir/llvmir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/bubble_sort/input.txt
  compiler/tests/cli/bubble_sort/output.txt
  compiler/tests/cli/bubble_sort/program.py
Labels: frontend, frontend:converter, tests, codegen, codegen:optree_to_llvmir, tests:cli

#223 Refactor ast::Node (add numChildren method, use in64_t)
  compiler/include/compiler/ast/node.hpp
  compiler/include/compiler/backend/ast/optimizer/optimizer_context.hpp
  compiler/lib/ast/node.cpp
  compiler/lib/backend/ast/optimizer/optimizer.cpp
  compiler/lib/backend/ast/semantizer/semantizer.cpp
  compiler/lib/codegen/ast_to_llvmir/ir_generator.cpp
  compiler/lib/frontend/converter/converter.cpp
  compiler/lib/frontend/parser/parser.cpp
  compiler/tests/ast/node.cpp
Labels: interface:ast, interface

#224 Add dumping test with debug option
  compiler/tests/cli/CMakeLists.txt
  compiler/tests/cli/debug/input.txt
  compiler/tests/cli/debug/output.txt
  compiler/tests/cli/debug/program.py
Labels: tests, tests:cli

#212 Implement fold control flow optimization
  compiler/include/compiler/backend/optree/optimizer/transform_factories.hpp
  compiler/lib/backend/optree/optimizer/transforms/fold_control_flow_ops.cpp
  compiler/tests/backend/optree/optimizer/fold_control_flow_ops.cpp
Labels: backend, backend:optree, backend:optree:optimizer, tests, tests:unit

#226 Resolve issues with OptBuilder::Notifier
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
Labels: backend, backend:optree, backend:optree:optimizer

#197 Perform convergent transformation within CascadeTransform
  compiler/include/compiler/backend/optree/optimizer/optimizer.hpp
  compiler/include/compiler/backend/optree/optimizer/transform.hpp
  compiler/lib/backend/optree/optimizer/optimizer.cpp
  compiler/lib/backend/optree/optimizer/transform.cpp
  compiler/lib/backend/optree/optimizer/transforms/erase_unused_functions.cpp
  compiler/lib/cli/compiler.cpp
  compiler/tests/backend/optree/optimizer/erase_unused_ops.cpp
  compiler/tests/backend/optree/optimizer/fold_constants.cpp
  compiler/tests/backend/optree/optimizer/fold_control_flow_ops.cpp
Labels: backend, backend:optree, backend:optree:optimizer, cli

#176 Join identical conditional branches (optree transformation)
  compiler/include/compiler/backend/optree/optimizer/transform_factories.hpp
  compiler/lib/backend/optree/optimizer/transforms/join_conditions_branches.cpp
  compiler/tests/backend/optree/optimizer/join_conditions_branches.cpp
Labels: backend, backend:optree, backend:optree:optimizer

#227 Add replace method for values in OptBuilder
  compiler/include/compiler/backend/optree/optimizer/opt_builder.hpp
  compiler/lib/backend/optree/optimizer/opt_builder.cpp
Labels: backend, backend:optree, backend:optree:optimizer
